{% extends 'base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'book/home.css' %}">
{% endblock %}
{% block content %}
    {% if word == 'all' %}
        <h3 style="text-align: center">All books</h3>
        <div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Filter by
  </button>
  <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="?filter=all">All books</a></li>
      </li> <a class="dropdown-item" href="?filter=offer">Offered books</a></li>
      </li> <a class="dropdown-item" href="?filter=wish">Wished books</a></li>
  </ul>
</div>
    {% else %}
        <h3 style="text-align: center">My {{ word }}ed books</h3>
    {% endif %}


<table>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Owner</th>
		</tr>
    {% for book in page_obj %}
        <tr>
            <td> <a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td>
            <td>{{ book.author }}</td>
            <td> <a href="{% url 'profile' book.owner.id %}">{{ book.owner.email }}</a></td>
        </tr>
    {% endfor %}
</table>
    {% include 'book/pagination.html' %}
{% endblock %}
