{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}Djangochat</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'user/base.css' %}">
      <link rel="stylesheet" href="{% static 'chat/style.css' %}">

        <script src="https://cdn.tailwindcss.com"></script>
{#        <script src="{% static 'chat/script.js' %}"></script>#}

        <style>
            .chat-messages {
                height: 400px;
                overflow-y: auto;
            }
        </style>
    </head>

    <body class="bg-teal-600">

  	<header>
		<h2 style="font-size: 30px;">Book Exchange</h2>
	</header>


    <nav class="navbar">


{% if user.is_authenticated %}
     <a href="{% url 'home' %}"><b>Home</b></a>
  <a href="{% url 'offer' %}">Offer a book</a>
  <a href="{% url 'wish' %}">Wish a book</a>
  <a href="{% url 'offerlist' %}">My Offered books</a>
  <a href="{% url 'wishlist' %}">My Wished books</a>
  <a href="{% url 'all-books' %}"><b>All Books</b></a>

      <a href="{% url 'rooms' %}"><b>Chat</b></a>



    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" style="width: 100%;font-size: 13px" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Welcome, {{ user }}
  </button>
  <ul style="font-size: 13px" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="{% url 'profile' user.id %}">Profile</a></li>
    <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>

  </ul>
</div>


    {% else %}
      <a href="{% url 'all-books' %}"><b>All Books</b></a>

  <a href="{% url 'login' %}"><b>Sign In</b></a>

    {% endif %}


</nav>

    <br>
    {% if messages %}
            <h1>{{ messages.tags }}</h1>
        {% for message in messages %}
            <div class="alert alert-dismissible fade show {{ message.tags }}" role="alert">
                <ul class="mb-0">

        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" style="color: black" aria-label="Close"></button>
</div>
{% endif %}

        {% block content %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>
</html>