{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'user/profile.css' %}">
{% endblock %}
{% block content %}

    <section class="vh-100" style="background-color: #eee;">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px;">
              <div class="card-body p-md-5">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                    <form method="POST" class="mx-1 mx-md-4">
                        {% csrf_token %}

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                                                  <label class="form-label" for="form3Example3c">Your Email</label>

                          <input type="email" name="email" required id="form3Example3c" value="{{ form.data.email }}" class="form-control" />
                            {% if form.email.errors %}
                              <ul class="errors">
                                {% for error in form.email.errors %}
                                  <li>{{ error }}</li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                        </div>
                      </div>


                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <label for="country-select" class="form-label">Country:</label>
                      <select required id="country-select" name='country' class="form-select">
                        <option value="">--Select a Country--</option>
                      {% if selected_country %}
                      <option value="{{ selected_country.id }}" selected>{{ selected_country.name }}</option>
                      {% endif %}
                         {% for country in countries %}
                            <option value="{{ country.id }}">{{ country.name }}</option>
                          {% endfor %}
                        <!-- add more options for other countries here -->
                      </select>
                            {% if form.country.errors %}
                              <ul class="errors">
                                {% for error in form.country.errors %}
                                  <li>{{ error }}</li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                        </div>
                      </div>


                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <label for="region-select" class="form-label">Region:</label>
                  <select required id="region-select" name="region" class="form-select" name="region">
                        <option value="">--Select a Region--</option>
                  {% if selected_region %}
                      <option value="{{ selected_region.id }}" selected>{{ selected_region.name }}</option>
                      {% endif %}

                      </select>
                            {% if form.region.errors %}
                              <ul class="errors">
                                {% for error in form.region.errors %}
                                  <li>{{ error }}</li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                        </div>
                      </div>


                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                                                  <label class="form-label" for="form3Example3c">Your Education Place</label>

                          <input type="text" name="education" required id="form3Example3c" value="{{ form.data.education }}" class="form-control" />
                            {% if form.education.errors %}
                              <ul class="errors">
                                {% for error in form.education.errors %}
                                  <li>{{ error }}</li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <label class="form-label" for="form3Example4c">Password</label>

                          <input type="password" required name="password1" id="form3Example4c" class="form-control" />
                            {% if form.password1.errors %}
                              <ul class="errors">
                                {% for error in form.password1.errors %}
                                  <li>{{ error }}</li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <label class="form-label" for="form3Example4cd">Repeat your password</label>

                          <input type="password" required name="password2" id="form3Example4cd" class="form-control" />
                            {% if form.password2.errors %}
                              <ul class="errors">
                                {% for error in form.password2.errors %}
                                  <li>{{ error }}</li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                        </div>
                      </div>

                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" class="btn btn-primary btn-lg">Register</button>
                      </div>
                    </form>
                  				<p>Already have an Account? <a href="{% url 'login' %}"> Login Now!</a></p>


                  </div>
                  <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                      <img src="/media/book-exchange.webp" st class="img-fluid" alt="Sample image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
$(document).ready(function() {
      const region_select = $("#region-select");
      const country = $("#country-select").val();
      var url = "{% url 'regions' %}";  // generate the URL for the AJAX request





    $("#country-select").change(function() {
     var country = $(this).val();  // get the selected country
       var url = "{% url 'regions' %}";  // generate the URL for the AJAX request
     $.ajax({
       url: url,
       type: "GET",
         data:{"country":country},
       success: function(response) {
           region_select.empty()
         region_select.append("<option value=''>-- Select Region --</option>");

             const data = response['regions'];
                 for (let i = 0; i < data.length; i++) {
                 const option = $('<option>');
                 option.val(data[i]['id']);
                 option.text(data[i]['name']);
                 region_select.append(option);
             }

       },
       error: function(xhr, status, error) {

         console.log("Error: " + error);
       }
     });
    });

  });


</script>
{% endblock %}